{% for current_toc in site.tocs %}
  {% if found_toc %}
    {% break %}
  {% else %}
    {% assign toc=site.data[current_toc] %}
    {% include tocsearch.html tree=toc.toc toc=toc %}
  {% endif %}
{% endfor %}

<!Doctype html>
<html id="docs" class="{{ toc.bigheader }}">

{% include head.html %}

<body>

{% include header.html %}

<!--  HERO  -->
<section id="hero" class="light-text">
  <h1>{{ toc.bigheader }}</h1>
  <h5>{{ toc.abstract }}</h5>
  <div id="vendorStrip" class="light-text">
    <ul>
      <li><a href="/docs/home/" {% if toc.bigheader == "Documentation Home" %}class="YAH"{% endif %}>HOME</a></li>
      <li><a href="/docs/getting-started/" {% if toc.bigheader == "Getting Started" %}class="YAH"{% endif %}>GETTING STARTED</a></li>
      <li><a href="/docs/sensor/" {% if toc.bigheader == "Sensor" %}class="YAH"{% endif %}>SENSOR</a></li>
      <li><a href="/docs/agent/" {% if toc.bigheader == "Agent" %}class="YAH"{% endif %}>AGENT</a></li>
      <li><a href="/docs/config/" {% if toc.bigheader == "Configuration" %}class="YAH"{% endif %}>CONFIGURATION</a></li>
      <li><a href="/docs/development/" {% if toc.bigheader == "Development" %}class="YAH"{% endif %}>DEVELOPMENT</a></li>
    </ul>
    <div id="searchBox">
      <input type="text" id="search" placeholder="Search" onkeydown="if (event.keyCode==13) window.location.replace('/docs/search/?q=' + this.value)" autofocus="autofocus">
    </div>
  </div>
</section>

{% include deprecation-warning.html %}

<section id="encyclopedia">
  <div id="docsToc">
        <div class="pi-accordion">
          {% include_cached tree.html tree=toc.toc %}
        </div> <!-- /pi-accordion -->
    <button class="push-menu-close-button" onclick="kub.toggleToc()"></button>
  </div> <!-- /docsToc -->

  <div id="docsContent">
        {% unless page.notitle %}
          <h1>{{ page.title }}</h1>
        {% endunless %}

        {{ content }}
    </div>
</section>

{% include_cached footer.html %}
{% include footer-scripts.html %}

</body>
</html>
